
/* header */
.navbar_brand {
    padding: 0.3125rem 0;
    text-decoration: none;
    white-space: nowrap;
    font-size: 2rem;
    color: #d29d17;
}
.navbar-nav .nav-link {
    color: #000;
    opacity: 0.8;
}
.navbar-nav .nav-item {
    margin: 0 1.5rem;
}
.header-image {
    width: 100%;
    height: auto;
}


/* content one */
.section-title {
    text-align: center;
    margin: 40px 0 20px 0;
    color: #d29d17;
}
.section-subtitle {
    text-align: center;
    color: #6c757d;
    width: 50%;
    margin: 0 auto 60px auto;
}
.card_title {
    color: #d29d17;
    margin: 1.5rem 0;
}
.card_text{
    color: #6c757d;
}

/* content two */
.section-title2{
    color: #d29d17;
    font-size: 1.5rem;
}
.section-content{
    margin: 1.5rem 0;
    color: #6c757d;
}
.related-posts img {
    width: 100%;
    height: auto;
}
.list-link{
    margin: 1.5rem 0;
}

/* footer */
#footer{
    background-color:#333; 
    color: #ccc;
}
.list-link2{
    margin: 1rem 0;
    font-size: 0.9rem;
}